*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root{
    --primary:#4CAF50;
    --secondary:#FF9800;
    --bg:#F9FAFB;
    --card:#FFFFFF;
    --text:#212529;
    --text-muted:#6C757D;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    padding: 0.7rem;
}

.todo-box{
    width: 100%;
    max-width: 540px;
    background-color: var(--card);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 4px 8px 8px var(--text);
    text-align: center;
}

.todo-header{
    color: var(--text);
    text-decoration: wavy var(--secondary) underline;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.todo-img{
    width: 40px;
}